body{
    font-family:arial black;
    background-color:rgb(250, 228, 232);
    margin:0px;

}
Header .container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

a{
    text-decoration-line:none;
}

.logo{
    font-family:Alkatra;
    font-size:50px;
    margin-top:40px;
    margin-bottom:35px;
}
.menu{
    display:flex;
    margin:30px;
    font-size:30px;

}

.menu-mobile{
    display:flex;
    flex-direction:column;
    width: 30px;
    align-self:flex-start;
    margin-left:10px;

}

.menu-mobile-click{
    height:5px;
    width:100%;
    background-color:rgb(247, 131, 152);
    margin:2px;
}

#menu-desliza{
    position:fixed;
    top:0;
    left:-250px;
    width:200px;
    height:100%;
    background-color:rgb(247, 131, 152);
    color:#000;
    transition: left 0.1s ease-in-out;
}

#menu-desliza ul{
    list-style:none;
    padding:0;
}

#menu-desliza ul li{
    padding:10px;
    border-bottom: 1px solid rgb(250 228 232);
}

.menu div{
    margin-right:40px;
}


.menu a{
    text-decoration-line:none;
    color:black;
}

.menu:hover a:hover{
    color:aqua;
}

.menu .active a{
    color:aqua;
}
h2{
    text-transform:uppercase;
    font-family:arial black;
    font-size:25px;
    font-weight:400;
    margin-top:50px;
}
p{
    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
    line-height:30px;  
    font-size:16px;
    font-family:arial;
    font-weight:400;
}


article{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.brincadeiras--title{
    background-color:#252525;
    color:rgb(250, 228, 232);
    font-size:50px;
    margin-top:25px;
    padding-left:30px;
    padding-right:30px;
}
video, .video--content{
    text-align:center;
    border:2px solid #252525;
}
main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.video{
    max-width:800px;
    display:flex;
    margin-top:60px;

    
}

.rodape{
    margin-top:40px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    background-color:rgb(223, 169, 178);
    height:100px;
}

.rights{
    font-size:10px;
    color:rgb(71, 68, 68);
    

}
.container .rights{
    justify-content:flex-start;
}
@media (max-width:1023px){

    .menu{
        display:none;
       
    }
}
@media (min-width:1024px){
    .menu-mobile{
        display:none;
    }
    .menu{
        font-size:35px;
    }

    .video--content h2{
        font-size:30px;
    }

    .video--content p{
        font-size:25px;
        margin-top:-20px;
    }
}

@media (min-width: 768px){
    main{
        margin-left:10px;
        margin-right:10px;
    }

    .video--content h2{
        font-size:30px;
    }

    .video--content p{
        font-size:25px;
        margin-top:-20px;
    }
}

@media (max-width:425px){
    .video{
        flex-direction:column;
        margin-left:5px;
        margin-right:5px;
    }

    video{
        width:100%
    }

    .video--content h2{
        font-size:30px;
    }

    .video--content p{
        font-size:25px;
        margin-top:-20px;
    }
}

@media(max-width: 375px){
    .brincadeiras--title{
        width:90%;
    }
}
@media(max-width: 320px){
    .brincadeiras--title{
        font-size:40px;
    }
}
