body{
    font-family:arial black;
    background-color:rgb(250, 228, 232);
    margin:0px;

}
Header .container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

a{
    text-decoration-line:none;
}

.logo{
    font-family:Alkatra;
    font-size:50px;
    margin-top:40px;
    margin-bottom:35px;
}
.menu{
    display:flex;
    margin:30px;

}

.menu div{
    margin-right:40px;
}


.menu a{
    text-decoration-line:none;
    color:black;
}

.menu:hover a:hover{
    color:aqua;
}

.menu .active a{
    color:aqua;
}
h2{
    text-transform:uppercase;
    font-family:arial black;
    font-size:25px;
    font-weight:400;
    margin-top:50px;
}
p{
    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
    line-height:30px;  
    font-size:16px;
    font-family:arial;
    font-weight:400;
}


article{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.brincadeiras--title{
    background-color:#252525;
    color:rgb(250, 228, 232);
    font-size:50px;
    margin-top:25px;
    padding-left:30px;
    padding-right:30px;
}
video, .video--content{
    text-align:center;
    border:2px solid #252525;
}
main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.video{
    max-width:800px;
    display:flex;
    margin-top:60px;

    
}

.rodape{
    margin-top:40px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    background-color:rgb(223, 169, 178);
    height:100px;
}

.rights{
    font-size:10px;
    color:rgb(71, 68, 68);
    

}
.container .rights{
    justify-content:flex-start;
}



@media(min-width:1025px){
    .menu{
        font-size:25px;
    }
    .brincadeiras--title{
        font-size:70px;

    }
    video{
        width:800px;
        height:550px;
    }
    p{
        font-size:30px;
    }
}
@media(max-width:1024px){
    .menu{
        font-size:40px;
    }

    p{
        font-size:25px;
    }
}
@media (max-width:768px){
        
    .menu{
        font-size: 30px;
    }
    video{
        width:600px;
        height:500px;
    }
    .video{
        max-width:600px
    }
}
@media (max-width:425px){
    .menu{
        display:grid;
        grid-template-columns:repeat(2, 2fr);
        font-size:25px;
    }
    .brincadeiras--title{
        font-size:35px;
    }
    .video{
        display:flex;
        flex-direction:column;
    }
    p{
        font-size:20px;
    }
    video{
        width:auto;
    }
}

@media (max-width:320px){
    .menu{
        display:grid;
        grid-template-columns:repeat(2, 2fr);
        font-size:15px;
    }
    .brincadeiras--title{
        font-size:20px;}
    
    }